[submodule "kMedoidsAlgorithm"]
      path = groupingThread/kMedoidsAlgorithm
      url = https://github.com/Tomev/kMedoidsAlgorithm.git
	  
[submodule "medoidStoringAlgorithm"]
      path = groupingThread/medoidStoringAlgorithm
      url = https://github.com/Tomev/medoidStoringAlgorithm.git
[submodule "ClusterKernelsKDE"]
	path = ClusterKernelsKDE
	url = https://github.com/Tomev-IBS/ClusterKernelsKDE.git
[submodule "Compressed_Cumulative_WDE_Over_Stream"]
	path = Compressed_Cumulative_WDE_Over_Stream
	url = https://github.com/Tomev-IBS/Compressed_Cumulative_WDE_Over_Stream
